<div id="wrapper">
  <!-- <h1>Schimmel Coding Home</h1> -->
  <nav>
    <h3>Websites</h3>
    <ul id="navWebsites">
        <li><a href="http://www.google.com">Google</a></li>
        <li><a href="https://www.youtube.com/channel/UC64x_rKHxY113KMWmprLBPA">Youtube - JackkTutorials</a></li>
        <li><a href="https://www.youtube.com/channel/UCOSGEokQQcdAVFuL_Aq8dlg/featured">Youtube - Justin Rhodes</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLc-T0ryHZ5U_FtsfHQopuvQugBvRoVR3j">Youtube - 100 Days of...</a></li>
        <li><a href="http://www.thepiratebay.se">Torrents</a></li>
        <li><a href="http://schimmelcoding.000webhostapp.com/blog/">Schimmel Coding - Blog</a></li>
    </ul>
    <h3>School Related</h3>
    <ul id="navSchool">
        <li><a href="https://my.nsula.edu">My NSU</a></li>
        <li><a href="https://moodle.nsula.edu">Moodle</a></li>
        <li><a href="http://connect.mheducation.com/connect/hmStudentCourseList.do?showSniffer=true&fromPage=login">Mc Graw Hill Connect</a></li>
        <li><a href="https://sso.bncollege.com/bes-idp/ssologin?pub=WVVaVQ==">Yuzu</a></li>
        <li><a href="https://adfs.nsula.edu/adfs/ls/?client-request-id=e88143be-a131-45cf-bc91-95b56ba741c3&username=&wa=wsignin1.0&wtrealm=urn%3afederation%3aMicrosoftOnline&wctx=estsredirect%3d2%26estsrequest%3drQIIAeNisFLPKCkpKLbS188vLcnJz8_Wy09Ly0xONTYz1UvOz9XLL0rPTAGxopiBCoqEuAT2OTe-MFx43nXPxKlbs5c7Hp7FyJlXXJqTqJeaUrqKUQmvcfr55Yn6FxgZNzGx-zp5xgcH-5xguvyZ_xaToH9RumdKeLFbakpqUWJJZn7eIybe0OLUIv-8nMqQ_OzUvF3MKqZpBoZGSQYGusnGFka6JmnJproWRpbJupZpSZaGhibJlqamlhdYBF6xMBnw_WBhXMQKdO05xvgOzQtibrvjufmNLHV0T7HqexfkRpbkB0b5-gWn5lua-Job-flqVxXkuxQZ-ob7luiblJRlmKanOpun5dtaWhlOYBOawMa0i9OIsM_si1ITc3Jt4cEBAA2">NSU Email</a></li>
                    <li><a href="web_portfolio/index.html">Web Development Portfolio</a>
    </ul>
    <h3>Email</h3>
    <ul id="navEmail">
      <li><a href="http://mail.google.com">Gmail</a></li>
      <li><a href="https://adfs.nsula.edu/adfs/ls/?client-request-id=e88143be-a131-45cf-bc91-95b56ba741c3&username=&wa=wsignin1.0&wtrealm=urn%3afederation%3aMicrosoftOnline&wctx=estsredirect%3d2%26estsrequest%3drQIIAeNisFLPKCkpKLbS188vLcnJz8_Wy09Ly0xONTYz1UvOz9XLL0rPTAGxopiBCoqEuAT2OTe-MFx43nXPxKlbs5c7Hp7FyJlXXJqTqJeaUrqKUQmvcfr55Yn6FxgZNzGx-zp5xgcH-5xguvyZ_xaToH9RumdKeLFbakpqUWJJZn7eIybe0OLUIv-8nMqQ_OzUvF3MKqZpBoZGSQYGusnGFka6JmnJproWRpbJupZpSZaGhibJlqamlhdYBF6xMBnw_WBhXMQKdO05xvgOzQtibrvjufmNLHV0T7HqexfkRpbkB0b5-gWn5lua-Job-flqVxXkuxQZ-ob7luiblJRlmKanOpun5dtaWhlOYBOawMa0i9OIsM_si1ITc3Jt4cEBAA2">NSU Email</a></li>
    </ul>
  </nav>
  <article id="Calendar">
    <table id="calendar-table">
      <thead>
        <tr><td colspan='7' class="head" id='legend'>{{months[month]}} {{year}}</td></tr>
        <tr class="head">
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr><td *ngFor="let days of week1;" (click)="getEvents(days)" [ngClass]="{'current': getCurrent(days)}"><span *ngIf="days != null">{{days}}</span></td></tr>
        <tr><td *ngFor="let days of week2;" (click)="getEvents(days)" [ngClass]="{'current': getCurrent(days)}"><span *ngIf="days != null">{{days}}</span></td></tr>
        <tr><td *ngFor="let days of week3;" (click)="getEvents(days)" [ngClass]="{'current': getCurrent(days)}"><span *ngIf="days != null">{{days}}</span></td></tr>
        <tr><td *ngFor="let days of week4;" (click)="getEvents(days)" [ngClass]="{'current': getCurrent(days)}"><span *ngIf="days != null">{{days}}</span></td></tr>
        <tr><td *ngFor="let days of week5;" (click)="getEvents(days)" [ngClass]="{'current': getCurrent(days)}"><span *ngIf="days != null">{{days}}</span></td></tr>
      </tbody>
    </table>
  </article>
</div>
