/*removes blue outline of these elements when focused bc it's ugly*/
/*input:focus,
select:focus,
textarea:focus,
button:focus,
.search-box:focus,
[contenteditable="true"]:focus {
    outline: none;
}*/
.link{
  color: white;
}

.link:hover {
  text-decoration: underline;
  font-style: italic;
  font-size: 11pt;
  color: #2de2ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  font-size: 14pt;
  text-decoration: none;
}

li a div:hover {
  background-color: #111;
}

.navbar {
  min-width: 700px;
  overflow: hidden;
}

.search {
  display: block;
  color: white;
  text-align: justify;
  text-decoration: none;
  height: 48px;
  padding-top: 10px;
  padding-right: 50px;
  margin-left: 15px;
  width: 266px;
  /* make width smaller when figure out how to close sidebar on nav click. probably should make separate component.
  width: 300px; */
}

#search-button{
  background-color: black;
  height: 24px;
  width: auto;
  margin-top: 14px;
  margin-left: -35px;
  border-radius: 5px;
  border-color: black;
  padding: 3px;
  color: white;
  text-align: justify;
  text-decoration: none;
  border: none;
  background: none;
}
#search-button:active{
  border-style: outset;
  border: none;
  background: none;
}

.search-box {
  background-color: #000;
  color: #fff;
}
/*.search-box:focus{
  background-color:white;
}*/
/* search results box */
#resultsBox {
  height: 0; /* change with javascript  */
  width: 0; /*0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0;
  left: 273px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  text-align: justify;
  color: white;
  background-color: #333;
  margin-top: 50px;
  padding: 5px;
  margin-left:1px
}
.resultHeader{
  color: #9a9a9a;
  white-space: nowrap;
  font-size: 23px;
}
.result{
    color: white;
}
.result:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /*0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 4px 8px 32px;
  text-decoration: none;
  text-align: justify;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0s;
  color:#bfbfbf;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  color: #bfbfbf;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 30pt;
  height: auto;
  padding-top: -13px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  /*.sidenav {padding-top: 15px;}*/
  /*.sidenav a:hover {}*/
}
