<div id="wrapper">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div style="text-align: center;">
    <input class="input" [ngClass]="{invalid: emptyUser, 'not-empty': username!=''}" tabindex="1" type="text" name="username" [(ngModel)]="username" id="username"
           ngControl="username" placeholder="username"/>
  </div>
  <div style="text-align: center;">
    <input class="input" [ngClass]="{invalid: emptyPass, 'not-empty': password!=''}" tabindex="1" type="password" name="password" id="password" [(ngModel)]="password"
           ngControl="password" (keyup.enter)="login()" placeholder ="password"/>
  </div>

  <button type="button" class="button" id="btnLogin" tabindex="1" (click)="login()">Login</button>
  <!-- TODO to be used for debugging actual login at later date -->
  <!-- <div *ngIf="invalidLogin" style="color:white;">invalid login</div> -->

  <div class="" style="padding-top: 3px;">
    <a tabindex="1" class="link" style="font-weight: bold;" [routerLink]="['/register']">register</a>
    <span style="color: white;">&nbsp;|&nbsp;</span>
    <a tabindex="1" class="link" style="font-weight: bold;" [routerLink]="['/passReset']">forgot password</a>
  </div>

  <p id="invalid-text" style="color: red; font-weight: bold; font-size: 16pt; " *ngIf="invalidLogin && username=='' && password==''">{{invalidText}}</p>
</div>
