/* removes blue outline of these elements when focused bc it's ugly*/
/*input:focus,
select:focus,
textarea:focus,
button:focus,
[contenteditable="true"]:focus {
    outline: none;
}*/
#wrapper{
  text-align: center; vertical-align:middle; overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  vertical-align: middle;
  margin-top: 5%;
}
.form-control::-webkit-input-placeholder
{
  color: pink !important;
  opacity: 0.5 !important;
}
h1{
    color: white;
}
.hidden{
  visibility: hidden;
}
.invalid{
  border-style: solid;
  border-color: red;
}

.link{
  color: #337ab7;
}
.link:hover{
  color: #2de2ff;
}

input::-webkit-input-placeholder {
  color: gray !important;
  font-style: italic;
  font-weight: bolder;
  font-family:fantasy;
}
.input:focus{

}

.input {
  height: 40px;
  width: 180px;
  margin: 1px;
  padding-left: 12px;
  padding-right: 12px;
  text-align:left;
  color: black;
}
.not-empty {
  border-color: none;
  border-style: none;
}

.button {
  margin: 2px;
	display: block;
	font-size: 1.1em;
	font-weight: bold;
  font-size: 12pt;
  padding-top: 6px;
  text-transform: uppercase;
  text-align:center;
	color: #ccc;
	background-color: #555;
	background: -webkit-linear-gradient(#888, #555);
	background: linear-gradient(#888, #555);
	border: 0 none;
	border-radius: 3px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
	cursor: pointer;
  -webkit-transition: all 150ms ease;
	transition: all 150ms ease;
  height: auto;
  width: 180px;
  display: table-cell;
  vertical-align: middle;
}

button:hover, button:focus {
	-webkit-animation: pulsate 1.2s linear infinite;
	animation: pulsate 1.2s linear infinite;
}

@-webkit-keyframes pulsate {
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

@keyframes pulsate {
	0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
	50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
	100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

button:active {
	color: #fff;
	text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
	box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-animation: none;
	animation: none;
}
